.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-image: url('./Desktop.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*:focus {
  outline: none;
}
