.grid-screen {
  display: grid;
  grid-template-rows: 3% 33% 5% 55% 3%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: right;
  color: rgba(6, 5, 43, 0.6);
}

.grid-screen .expression {
  grid-row: 2;
  margin: 0 2% 0 2%;
  font-size: 1.6vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-screen .result {
  grid-row: 4;
  margin: 0 2% 0 2%;
  font-size: 2.5vw;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}
